*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 5rem;
    margin-top: 10vh;
}


h2 {
 color: #00AA00;
 font-size: 3rem;
 margin-top: 30px;
}

p {
    font-size: 2rem;
}

form {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text_add {
    min-width: 90%;
    display: flex;
    margin-top: 20px;
}

#userText {
    min-width: 90%;
    height: 40px;
    margin-left: 20px;
}

#submit_note {
    background-color: #00AA00;
    color: white;
    margin-top: 30px;
    padding: 10px;
    font-size: 1.5rem;
    border: none;
    border-radius: 7px;

}

#note_container {
    border: red solid 1px;
    width: 90%;
    height: auto;
    padding: 25px;
    margin-top: 35px;
    display: flex;
    flex-wrap: wrap;
}

.note {
    width: 45%;
    border: solid 1px black;
    margin: 3% 2%;
    padding: 15px 10px 20px 10px;
    max-height: 100px;
}

.noteText {
    margin: 10px 0%;
    font-size: 1rem;
    max-width: 90%;
    max-height: 40px;
    
}

.invisible {
    display: none;
}

#background_note {
    opacity: 0.6;
    background-color: black;
    min-width: 100vw;
    min-height: 100vh;
    position: absolute;

}

.center_note {
    display: flex;
    justify-content: center;
    align-items: center;
}

.note_zoom {
    max-height: 300px;
    min-height: 150px;
    min-width: 50%;
    background-color: white;
    overflow: scroll;
    overflow-x: hidden;
}

